# {{ ansible_managed }}

{% for server in ntp_client['config']['servers'] %}
server {{ server['hostname'] }} {{ server['options'] | join(' ') }}
{% endfor %}

{% for pool in ntp_client['config']['pools'] %}
pool {{ pool['hostname'] }} {{ pool['options'] | join(' ') }}
{% endfor %}

# Record the rate at which the system clock gains/losses time.
driftfile {{ ntp_client['config']['driftfile'] }}

# Allow the system clock to be stepped in the first three updates
# if its offset is larger than 1 second.
makestep {{ ntp_client['config']['makestep'] }}

{% if ntp_client['config']['rtsync'] %}
# Enable kernel synchronization of the real-time clock (RTC).
rtcsync
{% endif %}

# Specify file containing keys for NTP authentication.
keyfile {{ ntp_client['config']['keyfile'] }}

# Get TAI-UTC offset and leap seconds from the system tz database.
leapsectz {{ ntp_client['config']['leapsectz'] }}

# Specify directory for log files.
logdir {{ ntp_client['config']['logdir'] }}
