# {{ ansible_managed }}

{% for server in ntp_client_config_servers %}
server {{ server['hostname'] }} {{ server['options'] | join(' ') }}
{% endfor %}

{% for pool in ntp_client_config_pools %}
pool {{ pool['hostname'] }} {{ pool['options'] | join(' ') }}
{% endfor %}

# Record the rate at which the system clock gains/losses time.
driftfile {{ ntp_client_config_driftfile }}

# Allow the system clock to be stepped in the first Y updates
# if its offset is larger than X seconds.
makestep {{ ntp_client_config_makestep }}

{% if ntp_client_config_rtsync %}
# Enable kernel synchronization of the real-time clock (RTC).
rtcsync
{% endif %}

# Specify file containing keys for NTP authentication.
keyfile {{ ntp_client_config_keyfile }}

# Get TAI-UTC offset and leap seconds from the system tz database.
leapsectz {{ ntp_client_config_leapsectz }}

# Specify directory for log files.
logdir {{ ntp_client_config_logdir }}
